
/DataUploader/obj/Release
/DeclarationOfConsentForm/bin/Debug
/DAL/obj
/DataUploader/obj
/BLL/obj
/BLL/obj/Release
/BLL/obj/Release/net8.0
/BLL/obj/Release
/BLL/obj
/GameMasterForm/bin
/testapp/obj
/testapp/bin/Debug
/testapp/bin/Debug
/testapp/obj/Debug
/testapp/bin/Debug
/GameMasterForm/obj/Debug
/DeclarationOfConsentForm/obj/Debug
/BLL/bin/Debug
/DeclarationOfConsentForm/obj/Debug
/DeclarationOfConsentForm/obj
/testapp/bin/Debug
/.vs
/.vs
/.vs
/.vs/IdocsapdaFrontOffice/v17
/.vs/IdocsapdaFrontOffice
/BLL/bin/Debug
/BLL/obj/Debug
/DeclarationOfConsentForm/obj/Debug
